.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.person-image img {
    width: 200px;
    height: auto;
}

.image-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.image-result img {
    width: 100%;
    height: auto;
}

.percentage {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
