<div class="container">
    <div class="person-image">
        <!-- Image of the person -->
        <img src="assets/img/avatar.png" alt="Person Image">
    </div>
    <div class="image-results">
        <!-- Image results grid -->
        <div class="image-result">
            <img src="assets/img/avatar.png" alt="Result 1">
            <div class="percentage">80%</div>
        </div>
        <div class="image-result">
            <img src="assets/img/avatar.png" alt="Result 2">
            <div class="percentage">75%</div>
        </div>

        <div class="image-result">
            <img src="assets/img/avatar.png" alt="Result 2">
            <div class="percentage">75%</div>
        </div>

        <div class="image-result">
            <img src="assets/img/avatar.png" alt="Result 2">
            <div class="percentage">75%</div>
        </div>

        <!-- Add more results as needed -->
    </div>
</div>